<article class="cat-card">
    <div class="cat-card-content">
      <img class="cat-card-photo" src="{{url}}">
      <p class="cat-author hidden"> Author: {{author}} </p>
      <p class="cat-caption">{{caption}}</p>
      <button type="button" class="upvote-button"><div> {{votes}} <i class="fa fa-heart"> </i> </div></button> 
    </div>
</article>
