<article class="cat-card cat-item">
    <div class="cat-card-content">
      <img src="{{url}}">
      <p class="cat-author hidden"> Author: {{author}} </p>
      <p class="cat-caption">{{caption}}</p>
      <button type="button" id="upvote-button"><i class="fa fa-heart"></i></button>
    </div> 
</article>