body {
	font-family: 'Nunito', sans-serif;
	background-color: #e2dfd9;
	margin: 0;
}

.site-title {
	margin: 0;
	padding: 10px;
	text-align: center;
	background-color: #f9cd8b;
	color: white;
}

.navbar {
	margin: 0;
	background-color: white;
}
.navlist {
	list-style: none;
	margin: 0;
}

.navitem {
	display: inline-block;
	padding: 10px;
}

.navbar-search {
	float: right;
	margin-right: 10px;

}

.navlink:hover {
	background-color: rgba(255, 213, 149, 0.38);
}