body {
	font-family: 'Open Sans', sans-serif;
	background-color: #e2dfd9;
	margin: 0;
}

.site-title {
	margin: 0;
	padding: 10px;
	text-align: center;
	background-color: #f9cd8b;
	color: white;
	font-size: 70px;
	font-family: 'Julius Sans One', sans-serif;
}

.navbar {
	margin: 0;
	background-color: white;
}
.navlist {
	list-style: none;
	margin: 0;
}

.navitem {
	display: inline-block;
	padding: 10px;
	font-size: 20px;
	font-weight: 300;
	color: #48453f;
}

.navbar-search {
	float: right;
	margin-right: 10px;

}

.navlink:hover {
	background-color: rgba(255, 213, 149, 0.38);
	cursor: pointer;
}

#navbar-search-input {
	font-size: 15px;
	width: 300px;
	background-color: #e2dfd9;
	border: 1px solid #d2cfcb;
	padding: 3px;
	border-radius: 3px;
}

#navbar-search-input:focus {
	background-color: white;
}

#navbar-search-button {
	border: none;
	font-size: 20px;
	background-color: white;
}

#navbar-search-button:hover {
	color: #f9cd8b;
	cursor: pointer;
}