body {
	font-family: 'Nunito', sans-serif;
	background-color: #f2e9ce;
	margin: 0;
}

.hidden {
	display: none;
}
.site-title {
	margin: 0;
	text-align: center;
	background-color: #f29e38;
}

.navbar {
	margin: 0;
	background-color: white;
}
.navlist {
	list-style: none;
	margin: 0;
}

.navitem {
	display: inline-block;
	padding: 10px;
	font-size: 20px;
	font-weight: 300;
	color: #1f0501;
}

.navbar-search {
	float: right;
	margin-right: 10px;

}

.navlink:hover {
	background-color: rgba(255, 213, 149, 0.38);
	cursor: pointer;
}

#navbar-search-input {
	font-size: 15px;
	width: 300px;
	background-color: #e2dfd9;
	border: 1px solid #d2cfcb;
	padding: 3px;
	border-radius: 3px;
}

#navbar-search-input:focus {
	background-color: white;
}

#navbar-search-button {
	border: none;
	font-size: 20px;
	background-color: white;
}

#navbar-search-button:hover {
	color: #f29e38;
	cursor: pointer;
}


#add-cat-button {
	font-size: 200px;
	color: #f29e38;
	border:none;
	padding:none;
	background-color: #f2e9ce;
	width:  200px;
    height: 200px;
    margin: 0;
    text-shadow: 5px 5px 13px #c4bfbf;
}

#add-cat-button:hover {
	font-size: 215px;
	color: #a53b19;
	cursor:pointer;


}
.cat-container {
	display: flex;
	margin: 0;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}

.cat-card {
	margin: 0;
	display: flex;
	justify-content: space-around;
	flex: 0 1 33%;
}

.cat-card-content {
	background-color: #ffffff;
	border: 1px solid #f5f5f5;
	border-radius: 3px;
	padding: 10px;
	margin: 10px;

	flex: 1 1 80%;
}

.cat-item {
	margin: 10px;
	align-items: center;
}

.cat-card-photo {
    max-height: 250px;
    text-align:  center;
}

.cat-caption {
	text-align: center;
}

.error-container {
  margin-top: 50px;
  text-align: center;
}

.error-container h2 {
  margin: 10px 0;
  font-size: 96px;
  font-weight: 100;
}

.error-container h3 {
  margin: 10px 0;
  font-size: 36px;
}

#upvote-button {
	border: none;
	background-color: white;
	font-size: 25px;
	color: #f29d45;
	float: right;
}

#upvote-button:hover {
	color: #a4391a;
	text-shadow: 2px 2px 8px #bfb7b7;

}
